LAW_OC=
LAW_API_BASE_URL=
QDRANT_URL=
QDRANT_API_KEY=
QDRANT_TIMEOUT_SEC=30
OPENSEARCH_URL=
OPENSEARCH_API_KEY=
OPENSEARCH_USERNAME=
OPENSEARCH_PASSWORD=
OPENSEARCH_TIMEOUT_SEC=30
OPENSEARCH_ENABLE_NORI_POS_FILTER=
OPENSEARCH_INDEX_LAW_ARTICLE=law_article
OPENSEARCH_INDEX_LEGAL_CASE=legal_case
OPENSEARCH_INDEX_LEGAL_RELATION=legal_relation
